<md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title ng-repeat="film in vm.favorites.list">
                <md-card-title-text>
                <span class="md-headline">{{film.title}}</span>
                <span class="md-subhead"> Released: {{film.release_date}}</span>
                <ul>
                    <li><label>Director: </label>{{film.director}}</li>
                    <li><label>Producer: </label>{{film.producer}}</li>
                </ul>
                </md-card-title-text>
                <md-card-title-media>
                <div class="md-media-lg card-media"></div>
                </md-card-title-media>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="vm.removeFavorites(film)">Remove Favorite</md-button>
                </md-card-actions>
            </md-card-title>
            </md-card>
        </div>
    </md-content>